PORT=
NODE_ENV=
SESSION_EXPIRATION_SECONDS=
COOKIE_SESSION_KEY=
DATABASE_URL=
REDIS_URL=


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=



OAUTH_REDIRECT_URL_BASE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=
AURA_INSTANCEID=
AURA_INSTANCENAME=


GOOGLE_API_KEY=
TAVILY_API_KEY=
CORE_API_KEY=

NOTION_MCP_URL=
NOTION_API_KEY=